@{
  Layout = "_Layout";
}

<h1>Welcome Pierre</h1>
<h2>Here you can track the vendors that have purchase baked goods and what they ordered</h2>
<h3><a href='/vendors'>View list of current vendors on file</a></h3>
<h3><a href='/vendors/new'>Add a new vendor</a></h3>