@{
  Layout = "_Layout";
}

<h1>Add a Vendor:/h1>

<form action="/vendors" method="post">
  <label for="vendorName"> Name of vendor:</label>
  <input id="vendorName" name="vendorName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back to homepage</a></p>
<p><a href="/categories">Back to list of vendors.</a></p>